body {
  font-family: Arial, Verdana;
  background-color: #000000;
  color: #FFFFFF;
  margin: 20px 20px 0px 20px;
}

h1 {
  font-size: 42px;
  text-align: center;
  padding: 15px;
}

h2 {
  font-size: 30px;
  color: #0D0D0D;
}

p {
  font-size: 24px;
  padding-top: 10px;
  padding-left: 10px;
}

img {
  width: 250px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border: 10px dashed #FFFFFF;
}

body div {
  min-height: 125px;
  padding: 20px;
  border: 3px solid #FFFFFF;
}

.introduction {
  border-radius: 15px;
  margin-top: 15px;
  line-height: 2;
}

.red {
  background-color: #FF0000;
  text-align: right;
  margin-left: 50px;
  border-width: 0px 0px 2px 5px;
}

.blue {
  background-color: #0000FF;
  text-align: left;
  margin-right: 50px;
  border-width: 2px 5px 0px 0px;
}

.blue h2 {
  color: #C4C4C4;
}

.blue p {
  color: #C4C4C4;
}

.yellow {
  background-color: #FFFF00;
  text-align: right;
  margin-left: 50px;
  border-width: 0px 0px 2px 5px;
}

.yellow p {
  color: #707070
}

.green {
  background-color: #008500;
  text-align: left;
  margin-right: 50px;
  border-width: 2px 5px 0px 0px;
}

footer {
  background: linear-gradient(90deg, #000000 0%, #0000ff 25%, #0066ff 70%, #000000 100%);
  border: 5px solid #FFFFFF;
}

footer p {
  font-size: 20px;
  text-align: right;
  padding: 15px 15px 15px 0px;
}